<html lang="de">

<head>
  <script src="{{ JAVASCRIPTPATH }}/js/default.js"></script>
</head>

<body>
  <div class="ajaxwin">
    {% include 'html/achievements.twig' %}
    <table class="tcal">
      <tr>
        <th id="popup-drag">{{ PAGETITLE|bbcode }}</th>
        <th style="width: 18px;">
          <a href="javascript:void(0);" onclick="closeAjaxWindow();" onmouseover="cp('ajaxclose','buttons/x2');"
            onmouseout="cp('ajaxclose','buttons/x1');">
            <img src="/assets/buttons/x1.png" name="ajaxclose" title="Fenster schließen" />
          </a>
        </th>
      </tr>
    </table>
    {% if MACRO %}
    {% include MACRO %}
    {% else %}
    {% block content %}
    {% if INFORMATION %}
    {% include 'html/systeminformation.twig' %}
    {% endif %}
    {% endblock %}
    {% endif %}
  </div>
  {% include 'html/executeJavascriptAfterRender.twig' %}
</body>

</html>
