<div class="box">
    <div class="box_title" style="text-align: left">/
        {% for key, item in NAVIGATION %}
        <a href="{{ key }}">
            {{ item|bbcode2txt }}
        </a>
        {% if not loop.last %}
        <span> / </span>
        {% endif %}
        {% endfor %}
    </div>
</div>
<br />
{% include 'html/executeJavascript.twig' %}
{% if INFORMATION %}
{% include 'html/systeminformation.twig' %}
{% else %}
<div id="result" style="display: none;">..</div>
{% endif %}
{% include 'html/achievements.twig' %}
