{# needs following variables: SINGLESHIPWRAPPERS) #}
{% from 'html/shiplistmacros.twig' import shiplist_header, shiplist_body %}

<table id="shiplist_singles_table" class="tcal">
    <tr>
        <td colspan="11">Einzelschiffe</td>
    </tr>
    {% set isFleetHeader = false %}
    {{ shiplist_header(isFleetHeader) }}
    {% for wrapper in SINGLESHIPWRAPPERS %}
    {{ shiplist_body(wrapper) }}
    {% endfor %}
</table>