<div id="result">
    <table class="use">
        <tr>
            <th>Meldung</th>
        </tr>
        <tr>
            <td>
                {% for info in INFORMATION %}
                <div>
                    {{ info|bbcode }}
                </div>
                {% endfor %}
                {% if THIS.getTargetLink %}
                <a href="{{ THIS.getTargetLink.getUrl }}" class="linkbutton">
                    {{ THIS.getTargetLink.getTitle }}
                </a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
<br />
