<div class="colonymenu_container" onkeydown="return event.key != 'Enter';">
    <form action="colony.php" method="post">
        {% block containment %}
        ...
        {% endblock %}
    </form>
</div>
