{% include 'html/colony/menu/mainscreen.twig' %}
{% embed "html/colony/menu/container.twig" %}
{% block containment %}
<div>
  <table class="tcal">
    <tr>
      <th>Name</th>
    </tr>
    <tr>
      <td>
        <input type="test" value="{{ COLONY.getName }}" name="colname" style="width: 250px;"
          onkeydown="event.key == 'Enter' && $('changecolonynamebutton').click()" />
        <input type="submit" id="changecolonynamebutton" name="B_CHANGE_NAME" value="Ändern" />
      </td>
    </tr>
  </table>
  <br />
  <div class="divhead">Einwanderung</div>
  <div class="divbody">
    <table cellpadding="0" cellspacing="0" style="width: 100%;">
      <tr>
        <td style="width: 50%;">
          {% if COLONY.getImmigrationState %}
          Status: <span style="color: #007300;">Erlaubt</span>
          {% else %}
          Status: <span style="color: #FF0000;">Verboten</span>
          {% endif %}
        </td>
        <td style="width: 50%; text-align: right;">
          {% if COLONY.getImmigrationState %}
          <input type="submit" value="Verbieten" name="B_PERMIT_IMMIGRATION" />
          {% else %}
          <input type="submit" value="Erlauben" name="B_ALLOW_IMMIGRATION" />
          {% endif %}
        </td>
      </tr>
    </table>
  </div>
  <br />
  <div class="divhead">Bevölkerungslimit</div>
  <div class="divbody">
    <input type="text" size="4" name="poplimit" value="{{ COLONY.getPopulationLimit }}"
      onkeydown="event.key == 'Enter' && $('setpopulationlimitbutton').click()" />
    <input type="submit" id="setpopulationlimitbutton" name="B_SET_POPULATIONLIMIT" value="Ändern" />
  </div>
  <br />
  <div class="divhead">Kolonie aufgeben</div>
  <div class="divbody">
    <div class="fabutton_red">
      <a href="javascript:void(0);" onclick="showGiveUpWindow({{ COLONY.getId }});" class="fabutton fabutton_red">
        Kolonie aufgeben
      </a>
    </div>
  </div>
</div>
{% endblock %}
{% endembed %}
