<form action="colony.php" method="post">
    <input type="hidden" name="id" value="{{ HOST.getId }}" />
    <input type="hidden" name="hosttype" value="{{ HOST.getHostType.value }}" />
    <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
    {% block containment %}
    ...
    {% endblock %}
</form>
