data/Makefile
src/Public/avatare
src/Public/sites
src/html/index/meta.twig
*.po~
docu/de/_build/*
vendor
config.json
config.json.backup
config.intttest.json
src/Public/assets
src/Public/version_*
backup
*.sqlite
build
OrmProxy
src/lang/*/*/*.mo
.php-cs-fixer.cache
.githooks
.vscode
devdb.sh
node_modules
coverage
stuniverse-ui
