*.table.php
data/Makefile
admin/backup/*
html/avatare/alliance/*
html/avatare/user/*
astar/**/*
astar/*
*.po~
docu/de/_build/*
tags
vendor
config.json
src/assets
src/version_*
src/html/avatare
backup
.phpunit.result.cache
src/api/
build
OrmProxy
src/lang/*/*/*.mo
