parameters:
	ignoreErrors:
		-
			message: '''
				#^Access to constant on deprecated class Stu\\Component\\Logging\\GameRequest\\Adapter\\DatabaseAdapter\:
				Use LogfileAdapter$#
			'''
			identifier: classConstant.deprecatedClass
			count: 2
			path: src/Component/Logging/services.php

		-
			message: '#^Method Stu\\Config\\StuContainer\:\:getDefinedImplementationsOf\(\) should return Doctrine\\Common\\Collections\\Collection\<int\|string, T\> but returns Doctrine\\Common\\Collections\\Collection\<int, T\>\|Doctrine\\Common\\Collections\\Collection\<int\|string, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Config/StuContainer.php

		-
			message: '#^Template type T of method Stu\\Config\\StuContainer\:\:get\(\) is not referenced in a parameter\.$#'
			identifier: method.templateTypeNotInParameter
			count: 1
			path: src/Config/StuContainer.php

		-
			message: '#^Parameter \#2 \$config of class MPScholten\\RequestParser\\RequestParser constructor expects \(callable\(\)\: mixed\)\|MPScholten\\RequestParser\\Config, \(callable\(\)\: mixed\)\|MPScholten\\RequestParser\\Config\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Lib/Request/CustomRequestParserFactory.php

		-
			message: '#^Method Stu\\Module\\Control\\SemaphoreUtil\:\:getSemaphore\(\) never returns int so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Module/Control/SemaphoreUtil.php

		-
			message: '#^Method Stu\\Module\\Spacecraft\\Lib\\Creation\\SpacecraftCreator\:\:createBy\(\) should return Stu\\Module\\Spacecraft\\Lib\\Creation\\SpacecraftConfiguratorInterface\<T of Stu\\Module\\Spacecraft\\Lib\\SpacecraftWrapperInterface\> but returns Stu\\Module\\Spacecraft\\Lib\\Creation\\SpacecraftConfiguratorInterface\<Stu\\Module\\Spacecraft\\Lib\\SpacecraftWrapperInterface\>\.$#'
			identifier: return.type
			count: 1
			path: src/Module/Spacecraft/Lib/Creation/SpacecraftCreator.php

		-
			message: '#^Method Stu\\Module\\Spacecraft\\Lib\\SpacecraftWrapper\:\:getThis\(\) return type with generic class Stu\\Module\\Spacecraft\\Lib\\SpacecraftWrapper does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Module/Spacecraft/Lib/SpacecraftWrapper.php

		-
			message: '''
				#^Access to constant on deprecated class Stu\\Orm\\Repository\\GameRequestRepository\:
				Use logfile logging$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: src/Orm/Entity/GameRequest.php
