parameters:
  level: 8
  paths:
    - src/admin
    - src/Component
    - src/Config
    - src/Exception
    - src/Lib
    - src/Module
    - src/Orm
  ignoreErrors:
    - '#Property Stu\\Orm\\Entity\\(\w+)::\$(\w+) is never written, only read#'
    - '#Property Stu\\Orm\\Entity\\User::\$crewRankNames type mapping mismatch#'
    - '#Property Stu\\Orm\\Entity\\User::\$crewRankNames with generic interface Doctrine\\Common\\Collections\\Collection does not specify its types#'
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 8
    minimumNumberOfJobsPerProcess: 2

includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon
