<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/Bootstrap.php"
         colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         cacheDirectory="build/.phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
>
  <coverage/>
  <source>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory suffix="services.php">src</directory>
      <directory>src/Migrations</directory>
      <directory>src/OrmProxy</directory>
      <directory>src/Public</directory>
    </exclude>
  </source>
  <testsuites>
    <testsuite name="STU unit">
      <directory>./tests/unit</directory>
    </testsuite>
    <testsuite name="STU integration">
      <directory>./tests/inttest</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name="APP_ENV" value="testing"/>
  </php>
</phpunit>
