<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="tests/Bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage cacheDirectory="build/coverageCache">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix="services.php">src</directory>
      <directory>src/Public</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="STU">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <server name="APP_ENV" value="testing"/>
  </php>
  <listeners>
    <listener class="\Mockery\Adapter\Phpunit\TestListener"/>
  </listeners>
</phpunit>
