{% extends "html/admindefaults.twig" %}

{% block body %}
{% include 'html/breadcrumb.twig' %}
<span>Punkte insgesamt: {{ POINTS }}</span>
</br>
<div>
  {% autoescape false %}
  {{ TREE }}
  {% endautoescape %}
</div>
{% endblock %}
