{% extends "html/admindefaults.twig" %}

{% block body %}
{% include 'html/breadcrumb.twig' %}
<form action="/admin/index.php" method="post" name="scriptform1" id="scriptform1">
    <div class="divhead">Signaturen</div>
    <div class="divbody">
        layer-ID<input type="text" size="5" name="layerid" id="layerid" value="{{ DEFAULT_LAYER }}" />
        ship-ID<input type="text" size="5" name="shipid" id="shipid" />
        user-ID<input type="text" size="5" name="userid" id="userid" />
        ally-ID<input type="text" size="5" name="allyid" id="allyid" />

        <input type="submit" class="button" name="ADMIN_SHOW_SIGNATURES" value="Signaturen anzeigen"
            id="showsigsbutton" />
    </div>
</form>
<form action="/admin/index.php" method="post" name="scriptform2" id="scriptform2">
    <div class="divhead">Schiffe spawnen</div>
    <div class="divbody">
        <a href="/admin/help/createBuildplan.php">Buildplan erstellen</a>
        <br />
        <a href="/admin/help/createShip.php">Schiffe spawnen</a>
    </div>
    <br />
    <div class="divhead">Karte</div>
    <div class="divbody">
        <div>
            Layer-ID:<input type="text" size="5" name="layerid" id="layerid" />
            <input type="submit" class="button" name="B_INFLUENCE_AREAS" value="Influence Areas neu generieren"
                id="influenceareabutton" />
        </div>
        <br />
        <div>
            <br />
            <a href="/admin/?SHOW_MAP_EDITOR=1">Karteneditor</a>
            <br />
            <a href="/admin/?SHOW_MAP_OVERALL=1&layerid=1" target="_blank">Karten Gesamtansicht</a>
            <br />
            <a href="/admin/?SHOW_INFLUENCE_AREAS=1&layerid=1" target="_blank">Influence Areas Gesamtansicht</a>
            <br />
            <a href="/admin/?SHOW_INFLUENCE_AREAS=1&showAlly=1&layerid=1" target="_blank">Influence Areas
                Allianzansicht</a>
        </div>
    </div>
    <br />
    <div class="divhead">Korrekturen</div>
    <div class="divbody">
        <input type="submit" class="button" name="B_COLONY_CORRECTION" value="Kolonie-Korrektur durchführen"
            id="colonycorrectionbutton" />
        <br />
        <input type="submit" class="button" name="B_CORRUPT_BBCODES" value="Korrupte BB-Codes in Namen entfernen"
            id="corruptbbcodebutton" />
        <br />
        <input type="submit" class="button" name="B_MISSING_AWARDS" value="Fehlende User Awards hinzufügen"
            id="missingawardsbutton" />
    </div>
    <br />
    <br />
    <div class="divhead">Anderes</div>
    <div class="divbody">
        Faction-ID:<input type="text" size="5" value="1" name="factionid" />
        <input type="submit" class="button" name="SHOW_RESEARCH_TREE" value="Forschungsbaum anzeigen"
            id="researchtreebutton" />
        <br />
        <div>
            ALL-User login password:<input type="text" size="5" name="alluserpw" id="alluserpw" />
            <input type="submit" class="button" name="B_MIRROR_START" value="Spiegelwelt erstellen"
                id="startmirrorbutton" />
        </div>
        <br />
        <div>
            <input type="submit" class="button" name="B_RESET_CACHES" value="PHP Caches leeren"
                id="resetcachesbutton" />
        </div>
    </div>
</form>
{% endblock %}
