{% extends "html/admindefaults.twig" %}

{% block body %}
{% include 'html/breadcrumb.twig' %}
<form action="/admin/index.php" method="post" name="scriptform1" id="scriptform1">
    <div class="divhead">Signaturen</div>
    <div class="divbody">
        layer-ID<input type="text" size="5" name="layerid" id="layerid" value="{{ DEFAULT_LAYER }}" />
        ship-ID<input type="text" size="5" name="shipid" id="shipid" />
        user-ID<input type="text" size="5" name="userid" id="userid" />
        ally-ID<input type="text" size="5" name="allyid" id="allyid" />

        <input type="submit" class="button" name="ADMIN_SHOW_SIGNATURES" value="Signaturen anzeigen"
            id="showsigsbutton" />
    </div>
</form>
<form action="/admin/index.php" method="post" name="scriptform2" id="scriptform2">
    <div class="divhead">Schiffe spawnen</div>
    <div class="divbody">
        <a href="/admin/help/createBuildplan.php">Buildplan erstellen</a>
        <br />
        <a href="/admin/help/createShip.php">Schiffe spawnen</a>
    </div>
    <br />
    <div class="divhead">Karte</div>
    <div class="divbody">
        <div>
            Layer-ID:<input type="text" size="5" name="layerid" id="layerid" />
            <input type="submit" class="button" name="B_INFLUENCE_AREAS" value="Influence Areas neu generieren"
                id="influenceareabutton" />
        </div>
        <br />
        <div>
            <br />
            <a href="/admin/?SHOW_MAP_EDITOR=1">Karteneditor</a>
            <br />
            <a href="/admin/?SHOW_MAP_OVERALL=1&layerid=1" target="_blank">Karten Gesamtansicht</a>
            <br />
            <a href="/admin/?SHOW_INFLUENCE_AREAS=1&layerid=1" target="_blank">Influence Areas Gesamtansicht</a>
            <br />
            <a href="/admin/?SHOW_INFLUENCE_AREAS=1&showAlly=1&layerid=1" target="_blank">Influence Areas
                Allianzansicht</a>
        </div>
    </div>
    <br />
    <div class="divhead">Korrekturen</div>
    <div class="divbody">
        <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
        <input type="submit" class="button" name="B_COLONY_CORRECTION" value="Kolonie-Korrektur durchführen"
            id="colonycorrectionbutton" />
        <br />
        <input type="submit" class="button" name="B_CORRUPT_BBCODES" value="Korrupte BB-Codes in Namen entfernen"
            id="corruptbbcodebutton" />
        <br />
        <input type="submit" class="button" name="B_MISSING_AWARDS" value="Fehlende User Awards hinzufügen"
            id="missingawardsbutton" />
        <br />
        <input type="submit" class="button" name="B_FIX_BUILDPLAN_CREW" value="Crewbedarf der Baupläne neu berechnen" />
    </div>
    <br />
    <br />
    <div class="divhead">Piraten</div>
    <div class="divbody">
        <div>
            Layer-ID:<input type="text" size="5" name="pirate_layer" id="pirate_layer" value="{{ DEFAULT_LAYER }}" />
            X-Koordinate:<input type="text" size="5" name="pirate_cx" id="pirate_cx" />
            Y-Koordinate:<input type="text" size="5" name="pirate_cy" id="pirate_cy" />
            <input type="submit" class="button" name="B_SPAWN_PIRATE_FLEET" value="Piratenflotte spawnen"
                id="spawnpiratefleetbutton" />
        </div>
    </div>
    <br />
    <div class="divhead">Crew</div>
    <div class="divbody">
        <div>
            Spacecraft-ID:<input type="text" size="8" name="spacecraft_id" id="spacecraft_id" />
            ODER Kolonie-ID:<input type="text" size="8" name="colony_id" id="colony_id" />
            <br /><br />
            Anzahl:<input type="text" size="5" name="crew_amount" id="crew_amount" value="1" />
            <input type="submit" class="button" name="B_CREATE_CREW" value="Crew erstellen" id="createcrewbutton" />
        </div>
    </div>
    <br />
    <div class="divhead">Anderes</div>
    <div class="divbody">
        Faction-ID:<input type="text" size="5" value="1" name="factionid" />
        <input type="submit" class="button" name="SHOW_RESEARCH_TREE" value="Forschungsbaum anzeigen"
            id="researchtreebutton" />
        <br />
        <div>
            ALL-User login password:<input type="text" size="5" name="alluserpw" id="alluserpw" />
            <input type="submit" class="button" name="B_MIRROR_START" value="Spiegelwelt erstellen"
                id="startmirrorbutton" />
        </div>
        <br />
        <div>
            <input type="submit" class="button" name="B_RESET_CACHES" value="PHP Caches leeren"
                id="resetcachesbutton" />
        </div>
    </div>
</form>
<br />
<form action="/admin/index.php" method="post" name="scriptform3" id="scriptform3">
    <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
    <div class="divhead">News</div>
    <div class="divbody">
        <div>
            Titel:<br />
            <input type="text" name="subject" style="width: 100%;" />
        </div>
        <br />
        <div>
            Text:<br />
            <textarea name="text" rows="10" style="width: 100%;"></textarea>
        </div>
        <br />
        <div>
            Referenzen (optional):<br />
            <input type="text" name="refs" style="width: 100%;" />
        </div>
        <br />
        <div>
            <label>
                <input type="checkbox" name="is_changelog" value="1" checked="checked" />
                Als Changelog markieren
            </label>
        </div>
        <br />
        <div>
            <input type="submit" class="button" name="B_POST_NEWS" value="News erstellen" />
        </div>
    </div>
</form>
{% endblock %}