{% extends "html/admindefaults.twig" %}

{% block body %}
{% include 'html/breadcrumb.twig' %}
<form action="/admin/index.php" method="post" name="tickform" id="tickform">
    <input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
    <div>
        Colony-ID:<input type="text" size="5" name="colonyid" id="colonyid" />, Group-ID:<input type="text" size="5"
            name="groupid" id="groupid" /><input type="submit" class="button" name="B_COLONY_TICK"
            value="Kolonie-Tick durchf端hren" id="colonytickbutton" />
    </div>
    <br />
    <div>
        <input type="text" size="5" name="spacecrafttickid" id="spacecrafttickid" /><input type="submit" class="button"
            name="B_SPACECRAFT_TICK" value="Schiff-Tick durchf端hren" id="spacecrafttickbutton" />
    </div>
    <br />
    <div>
        <input type="submit" class="button" name="B_PROCESS_TICK" value="Process-Tick durchf端hren"
            id="processtickbutton" />
    </div>
    <br />
    <div>
        <input type="submit" class="button" name="B_MAINTENANCE" value="Wartungs-Tick durchf端hren"
            id="maintenancetickbutton" />
    </div>
</form>
{% endblock %}
