{% if DISPLAY_COLONIZATION_SHIP_DIALOGUE %}
<div class="box">
    <div class="box_title">Die suche nach einer Kolonie</div>
    <div class="box_body">
        <div>
            Du hast dich also für ein Kolonisationsschiff entschieden. In deinen nächsten
            Schritten solltest du mit diesem Schiff einen freien Klasse L <img src="/assets/planets/203s.png"
                title="Klasse L" />, M <img src="/assets/planets/201s.png" title="Klasse M" />oder O <img
                src="/assets/planets/202s.png" title="Klasse O" />Planeten
            suchen um diesen zu kolonisieren.
        </div>
        <br />
        <div>
            <a href="https://wiki.stuniverse.de/index.php?title=Anfaenger:Schiffsguide" target="_blank">Weitere
                Informationen wie man ein Schiff steuert, wonach
                genau du suchen
                solltest und wie man einen Planeten kolonisiert, findest du hier</a>
        </div><br />
    </div>
</div>
<br />
{% endif %}
