<div id="crewlimit" class="box">
    <div class="box_title">Crewlimitierung</div>
    <div class="box_body">
        <div style="width: 100%; text-align: center">
            <img src="/assets/navigation/menu_ships0.png" height="30" width="30" title="Crew auf Schiffen/Stationen" />
            {{ CREW_COUNT_SHIPS }} / {{ CREW_LIMIT }}
            <img src="/assets/bev/bev_free_5_1.png" height="30" width="30" title="globales Crewlimit" />
        </div>
    </div>
</div>
<br />
