<div class="box">
    <div class="box_title">Letzte Ereignisse</div>
    <div class="box_body">
        {% if RECENT_HISTORY %}
        {% for item in RECENT_HISTORY %}
        <div class="list">
            <div style="width: 80%" class="iblock">
                {{ item.getText|bbcode }}
            </div>
            <div style="width: 19%" class="iblock">{{ item.getDate|datetime }}</div>
        </div>
        {% endfor %}
        {% else %}
        <div>Keine</div>
        {% endif %}
    </div>
</div>
