{% if DISPLAY_FIRST_COLONY_DIALOGUE %}
<div class="box">
    <div class="box_title">Die erste Kolonie</div>
    <div class="box_body">
        <div>
            Der Erste Schritt um in das Spiel einzusteigen ist die Gründung Deiner Ersten
            Kolonie. Du kannst dir entweder eine Kolonie aus einer Liste an freien Kolonien
            im Kerngebiet deiner Fraktion auswählen, oder ein Kolonisationsschiff erhalten
            und auf eigene Faust eine freie Kolonie suchen.
        </div>
        <div>
            Bitte wirf bei dieser Gelegenheit einen Blick in unsere Spielstart Anleitung.
        </div><br />
        - <a href="?SHOW_COLONYLIST=1">Kolonie gründen</a> - <a href="?B_COLONIZATION_SHIP=1">Kolonisationsschiff
            erhalten</a>
    </div>
</div>
<br />
{% endif %}
