{% if DISPLAY_FIRST_COLONY_DIALOGUE %}
<div id="firstcolony" class="box">
    <div class="box_title">Die erste Kolonie</div>
    <div class="box_body">
        <div>
            Der Erste Schritt um in das Spiel einzusteigen ist die Gründung Deiner Ersten
            Kolonie. Du kannst dir entweder eine Kolonie aus einer Liste an freien Kolonien
            im Kerngebiet deiner Fraktion auswählen, oder ein Kolonisationsschiff erhalten
            und auf eigene Faust eine freie Kolonie suchen.
        </div>
        <br />
        <form action="" method="post">
            <div id="colonychoicebuttons">
                <input type="submit" class="button" name="SHOW_COLONYLIST" value="Kolonie gründen" id="createcolony" />
                <input type="submit" class="button" name="B_COLONIZATION_SHIP" value="Kolonisationsschiff erhalten" id="createcoloship" />
            </div>
        </form>
    </div>
</div>
<br />
{% endif %}
