{% from 'html/macros.twig' import userAvatar %}

<div id="randomactivplayer" class="box">
    <div class="box_title">Zufällige Spieler (online)</div>
    <div class="box_body">
        {% if RANDOM_ONLINE_USER %}
        <div class="randomOnlineUsers">
            {% for user in RANDOM_ONLINE_USER %}
            {{ userAvatar(user) }}
            {% endfor %}
        </div>
        {% else %}
        <div style="width: 100%; text-align: center;">
            Kein Spieler online
        </div>
        {% endif %}
    </div>
</div>
