{% if DISPLAY_TUTORIAL_1 %}
<div class="box">
    <div class="box_title">Bebaue deine erste Kolonie</div>
    <div class="box_body">
        <div>
            Du hast nun also deine erste Kolonie gegründet und möchtest direkt durchstarten?
            Auf gehts!
            <br />
            Am Anfang deiner Karriere als Siedler hast du zunächst nur eine Begrenzte Anzahl
            an Gebäuden die du bauen kannst. Insbesondere die Baumaterialfabrik <img
                src="/assets/generated/buildings/61010100/0at.png" title="Baumaterialfabrik" />
            und die
            Solarzellen <img src="/assets/generated/buildings/31010100/0at.png" title="Solarzellen" /> sind ein
            guter Anfang für deine erste Kolonie. Gehe
            in das
            Baumenü deiner Kolonie und wähle aus der Liste der Gebäude das jeweilige Gebäude
            welches du bauen möchtest aus. Anschließend werden dir auf deiner Kolonie alle
            bebaubaren Felder markiert. Klicke also das Feld an, auf dem du dein Gebäude
            errichten möchtest.
            <br />
            Dein Gebäude wird nun errichtet und im Idealfall automatisch nach der
            Fertigstellung des Gebäudes aktiviert. Dies ist insbesondere davon abhängig, ob
            nach Fertigstellung genug Arbeiter vorhanden sind. Du kannst das Gebäude auch
            mit einem Klick auf dem jeweiligen Feld deiner Oberfläche so einstellen, dass es
            sich nicht nach Fertigstellung aktiviert - wenn so gewünscht.
        </div>
        <br />
        Dein Gebäude ist nun also fertig und dann? STU ist ein Rundenbasiertes spiel. Das
        bedeutet, dass dein Gebäude erst zur nächsten Runde (Tick) seine Waren Erzeugt oder
        Verbraucht.
        <br />
        <div>
            <br />
            <a href="https://wiki.stuniverse.de/index.php?title=Anfaenger:Geb%C3%A4udeguide" target="_blank">Weitere
                Informationen zu diesem Thema findest du hier</a>
        </div>
    </div><br />
    - <a href="?B_TUTORIAL_NEXT=1">Nächstes Tutorial</a>
</div>
<br />
{% endif %}
{% if DISPLAY_TUTORIAL_2 %}
<div class="box">
    <div class="box_title">Wie forsche ich richtig?</div>
    <div class="box_body">
        <div>
            Klar, du hast jetzt eine Hand voll Gebäude. Aber das soll doch nicht das Ende
            allem erreichbarem sein, oder? Du musst forschen!
            Also wechsel in das Forschungsmenü und wähle eine deiner Forschungen die du
            erforschen möchtest aus. Du kannst nur eine Forschung gleichzeitig erforschen.
            <br />
            Nur wie füllt sich nun der Forschungsbalken? Wie bereits erwähnt ist STU ein
            Rundenbasiertes Spiel. Auch hier füllt sich deine Forschung nur zu jedem Tick.
            Deine Forschungen benötigen unterschiedliche Sachen die du zu jedem
            Rundenwechsel erzeugen musst. Hierbei ist jedoch wichtig, dass nur die globale
            Nettoerzeugung auf all deinen Kolonien betrachtet wird. Dir werden keine Waren
            wie Baumaterial (bm) <img src="/assets/commodities/2.png" title="Baumaterial" />,
            Deuterium (deut) <img src="/assets/commodities/5.png" title="Deuterium" />,
            Transparentes Aluminium (alu) <img src="/assets/commodities/4.png" title="Transparentes Aluminium" />
            oder ähnlichem aus deinem Inventar
            abgezogen. Die
            Produktion selbst ist das was zählt! Im laufe deiner Forschungskarriere werden
            die Forschungen auch umschwenken, von der Forschung durch Ressourcen zur
            Forschung durch Effekte <img src="/assets/commodities/1701.png" title="Forschungspunkte Level 1" />.
            <br />
            Achtung! Die Forschungen schalten meist neue Forschungen frei. Es gibt aber auch
            Forschungen, welche das Erforschen von anderen Forschungen wieder ausschließt.
            Dies findest du in der Beschreibung deiner jeweiligen Forschung.
        </div>
        <br />
        <div>
            <a href="https://wiki.stuniverse.de/index.php?title=Anfaenger:Forschungsguide" target="_blank">Weitere
                Informationen zu diesem Thema findest du hier</a>
        </div>
    </div><br />
    - <a href="?B_TUTORIAL_BACK=1">Letztes Tutorial</a> - <a href="?B_TUTORIAL_NEXT=1">Nächstes
        Tutorial</a>
</div>
<br />
{% endif %}
{% if DISPLAY_TUTORIAL_3 %}
<div class="box">
    <div class="box_title">Schiffe sind das Herzstück in STU</div>
    <div class="box_body">
        <div>
            Du hast nun also dein erstes Schiff erhalten oder bist im Begriff eins zu bauen?
            Super Sache! <img src="/assets/ships/8101.png" title="Raumschiff" />
            <br />
            <br /> Ein kurzer Anschnitt wie man Schiffe baut: Am Anfang kannst du Schiffe
            nur durch dein Flugfeld->Raumbahnhof->Raumhafen bauen und starten. Hierbei
            handelt es sich um kleine Jäger oder kleine Frachter. Klicke hierzu das gewählte
            Flugfeld-Gebäude an und wechsel in deinen Hangar. Von dort aus, sollte der Bau
            und die Produktion selbsterklärend sein. Später kannst du noch weitere Werften
            in deinen Orbit bauen und erforschte Raumschiffklassen bauen. Das interessante
            hierbei ist, dass du, anders als bei anderen Spielen dieser Art, dir die Schiffe
            mit all seinen stärken und schwächen selbst
            konfigurieren kannst. Dies funktioniert über verschiedenste Module
            unterschiedlichen Typs und Level.
        </div>
        <br />
        Also dein Schiff ist nun gestartet. Und dann? Die meisten späteren Schiffe benötigen
        meistens Crew und Reaktorladung. Dies kannst du über dein Orbitalmanagement auf
        deiner Kolonie in das jeweilige Schiff transferieren. Jedoch wollen wir uns an
        dieser Stelle nicht weiter mit der Crewerzeugung sowie dem Produzieren von
        Ressourcen um dein Schiff zu betanken, beschäftigen. Wechsel über das Schiffsmenü
        oder der Schiffsliste auf deiner Kolonie durch anklicken des jeweiligen Schiffs in
        dein Schiffsfenster. Nun bist du der Captain deines Schiffes.
        <br />
        <br /> Steuere dein Schiff indem du die jeweiligen Buttons für deine Richtung
        anklickst. Wir empfehlen dir jedoch besser, immer mit den Langstreckensensoren zu
        fliegen. Klicke hierzu im Navigations Applet auf Langstreckensensoren aktivieren
        <img src="/assets/buttons/lss2.png" title="Langstreckensensoren" />.
        Schon siehst du die Karte deines Schiffes. Hier kannst du durch anklicken des
        jeweiligen Feldes in X oder Y Richtung dein Schiff eben auf das jeweilige Schiff
        bewegen.
        <br />
        <br />
        Was ist noch so interessant? Natürlich! Du kannst dein System auch verlassen. Klicke
        hierzu in deiner Schiffsinformation auf den jeweiligen Button um aus dem System zu
        verschwinden. Der Warpantrieb wird aktiviert und du wechselst dirket auf die
        Warp-Karte. Jetzt will man doch nurnoch andere finden oder? In den
        Langstreckensensoren (LSS) findest du auf jedem Feld bei dem sich auch andere
        Schiffe befinden eine Zahl (Schiffsanzahl auf dem Feld). Flieg dort hin! Und dann?
        Ja dann aktivier die Nahbereichsensoren (NBS) <img src="/assets/buttons/kss2.png" title="Nahbereichsensoren" />.
        Dir wird nun eine Liste mit allen
        Schiffen auf dem Feld angezeigt mit denen du je nachdem interagieren kannst.
        <br />
        <div>
            <br />
            <a href="https://wiki.stuniverse.de/index.php?title=Anfaenger:Schiffsguide" target="_blank">Weitere
                Informationen zu diesem Thema findest du hier</a>
        </div>
    </div><br />
    - <a href="?B_TUTORIAL_BACK=1">Letztes Tutorial</a> - <a href="?B_TUTORIAL_NEXT=1">Nächstes
        Tutorial</a>
</div>
<br />
{% endif %}
{% if DISPLAY_TUTORIAL_4 %}
<div class="box">
    <div class="box_title">Handel? Mehr als Erwerbsregeln lernen!</div>
    <div class="box_body">
        <div>
            Okay, du produzierst nun Waren und kannst durch die gegend Fliegen. Toll! Aber
            vielleicht fehlt dir ja was in deiner Entwicklung? Eine bestimmte Ware
            vielleicht?
            <br />
            In STU gibt es verschiedenste möglichkeiten zu handeln. Wenn du Glück hast, hast
            du vielleicht bereits Kontakt zu deinem nächstfreundlichen Nachbar aufgenommen.
            Ihr könnt jeder Zeit euch absprechend und gegenseitig mit euren Frachtern Waren
            hin und her beamen <img src="/assets/buttons/b_up1.png" title="beam up" /><img
                src="/assets/buttons/b_down1.png" title="beam down" />.

            <br /> Du kannst aber auch über Handelsposten mit jederman handel treiben. Wenn
            du einen solchen Handelsposten auf der Warpkarte gefunden hast, musst du an
            diesen Andocken (in den NBS) <img src="/assets/buttons/dock1.png" title="Andocken" />
            und anschließend dort eine Lizenz zum Handeln
            erkaufen. Hierfür musst du je nach Handelsposten eine bestimmte Ware in dem
            Inventar deines Schiffes mit dir führen.
            <br />
            Hast du nun eine Handelslizenz, kannst du von deinem Schiff aus, Ressourcen in
            dein Warenkonto an dieser Warenbörse (WB) transferieren <img src="/assets/buttons/menu_trade1.png"
                title="Handelstransferfenster öffnen" />.
            Sind deine Sachen dort
            angekommen, wechsel am besten in das Handelsmenü über die Seitennavigation.
            <br />
            <br />
            Wie handel ich richtig? Du siehst im Handelsmenü nun eine Liste an Angeboten von
            allen Handelsbörsen an denen du eine Lizenz besitzt. Hast du die geforderte Ware
            in deinem Warenkonto dieses Handelspostens (HP), kannst du mit einem klick auf
            den Button des Angebots dieses n-Fach annehmen.
            Du kannst aber auch natürlich selber Angebote erstellen. Klicke hierzu auf deine
            Warenkonten. Nun findest du eine Liste mit allen Handelsposten auf denen du eine
            Lizenz besitzt sowie den dort von dir gelagerten Waren. Klicke eine Ware an und
            erstelle ein Angebot! Wichtig zu beachten: An Handelsposten von NPC's also der
            Klingonen, den Romulanern, der Föderation und so weiter kannst du ein Angebot
            nur gegen Latinum <img src="/assets/commodities/50.png" title="Latinum" />
            eintauschen. An Handelsposten anderer Spieler, kannst du
            jedoch jede Ware gegen jede andere Ware eintauschen.

            <br /> Auch noch interessant zu erwähnen ist der Basishandel. Diesen gibt es
            auch nur an NPC Handelsposten. Hier kannst du dir bestimmte Waren für Latinum
            kaufen oder verkaufen. Der Kurs variiert jedoch ständig je nach Angebot und
            Nachfrage!
        </div>
        <br />
        <div>
            <a href="https://wiki.stuniverse.de/index.php?title=Anfaenger:Handelsguide" target="_blank">Weitere
                Informationen zu diesem Thema findest du hier</a>
        </div>
    </div><br />
    - <a href="?B_TUTORIAL_BACK=1">Letztes Tutorial</a> - <a href="?B_TUTORIAL_NEXT=1">Beende
        das Tutorial</a>
</div>
<br />
{% endif %}
