<a href="javascript:void(0);" onmouseover="cp('{{ handle }}','buttons/info2');"
    onmouseout="cp('{{ handle }}','buttons/info1');" onclick="openTradepostInfo({{ id }},0,0);">
    <img src="assets/buttons/info1.png" name="{{ handle }}" title="Details" />
</a>
