{% from 'html/macros.twig' import commoditySelectorList %}

<input type="hidden" name="B_TRANSFER_TO_ACCOUNT" value="1" />
<table class="tcal">
  <tr>
    <th>Waren auf dem Schiff</th>
  </tr>
  <tr>
    <td>
      {{ commoditySelectorList(SHIP.getBeamableStorage) }}
    </td>
  </tr>
</table>
