<input type="range" name="tcount" id="torpedo_transfer_slider" min="0" max="{{ MAXIMUM }}" value="0"
    oninput="torpedoTransferCount.innerText = this.value;">
<span style="display: inline-block; min-width: 30px;" id="torpedoTransferCount">0</span>
{% if COMMODITY_ID %}
<img src="/assets/commodities/{{ COMMODITY_ID }}.png" title="Torpedokapazität"/>

{% else %}
--
{% endif %}
