{% embed "html/ajaxwindow.twig" %}
{% block content %}
{% if not ERROR %}
{% set SHIP = WRAPPER.get %}
<table class="tcal">
    <tr>
        <th style="width: 40%;"></th>
        <th style="width: 60%;">Aktueller Scan</th>
    </tr>
    <tr>
        <td>
            {% include 'html/station/sectorScan.twig' %}
        </td>
        <td>
            {% include 'html/station/nbsBlock.twig' %}
        </td>
    </tr>
</table>
{% else %}
<table class="tcal">
    <tr>
        <td>
            <span>Für den Scan wird 15 Energie benötigt</span>
        </td>
    </tr>
</table>
{% endif %}
{% endblock %}
{% endembed %}
