{# needs following variables: COLONIES, SANDBOX_NAME #}
<div>
    <form action="/admin/index.php" method="post" onkeydown="return event.key != 'Enter';">
        <input type="hidden" name="sstr" value"{{ SESSIONSTRING }}" />
        <table class="tcal">
            <tr>
                <th>Sandbox für folgende Kolonie</th>
                <td>
                    <select name="cid">
                        {% for colony in SANDBOX_LIST %}
                        <option value="{{ colony.getId }}">{{ colony.getNameAndSectorString|bbcode2txt }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Name der Sandbox</th>
                <td>
                    <input type="text" style="width: 250px" name="name" value="{{ SANDBOX_NAME }}" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <input type="submit" class="button" name="B_CREATE_SANDBOX" value="Sandbox erstellen" />
                </td>
            </tr>
        </table>
    </form>
</div>
