<table class="tcal" style="width: 100%; margin-top: 3px;">
    <tr>
        <td>
            <div style="overflow: hidden;">
                <form method="post">
                    <input type="hidden" name="knid" value="{{ POST.getId }}">
                    <div class="form-group">
                        <label for="reason">Begründung:</label>
                        <textarea name="reason" id="reason" rows="4" style="width: 100%;"></textarea>
                    </div>
                    <br />
                    <div class="divbody">
                        <input type="submit" class="button" name="B_ADMIN_DEL_KN" value="Löschen" />
                    </div>
                </form>
            </div>
        </td>
    </tr>
</table>