<table class="tcal" style="width: 100%; margin-top: 3px;">
    <td>
        <div style="overflow: hidden;">
            <img src="avatare/characters/{{ CHARACTER.getAvatar }}.png" alt="Avatar" style="float: left; width: 200px; margin-right: 10px; margin-bottom: 10px;" />
            <span style="font-size: larger;">Von Spieler: <span>{{ CHARACTER.getUser.getName|bbcode }}</span></span>
            <p></p>
            <p></p>
            <span style="margin: 0;">{{ CHARACTER.getDescription|bbcode }}</span>
        </div>
    </td>
</table>
