<form name="newcat">
    <table class="tcal">
      <tr>
        <td>Name</td>
        <td><input type="text" style="width: 100px;" name="catname" id="catname" /></td>
      </tr>
      <tr>
        <td colspan="2"><input type="button" class="button" value="Anlegen" onclick="addNewCategory();" /></td>
      </tr>
    </table>
  </form>