{% if KN_NAVIGATION %}
<table>
    <tr>
        {% for item in KN_NAVIGATION %}
        <td>
            <a href="?SHOW_ARCHIVE_PLOT=1&plotid={{ PLOT.formerId }}&mark={{ item.mark }}" class="{{ item.cssclass }}">
                {{ item.page }}
            </a>
        </td>
        {% endfor %}
    </tr>
</table>
{% endif %}