{% extends "html/npcdefaults.twig" %}

{% block body %}
{% include 'html/breadcrumb.twig' %}
<form action="/npc/index.php" method="post" name="toolsform" id="toolsform">
    <div>
        Schiffs ID: <input type="text" size="5" name="shipid" id="shipid" /> 
        Ware: <select name="commodityid" id="commoditySelect" style="width:10%;">
            <option value="0">----------------------</option>
            {% for data in SELECTABLE_COMMODITIES %}
            {% if COMMODITY_ID == data.getId %}
            <option value="{{ data.getId }}" selected="1">
                {{ data.getName }}
            </option>
            {% else %}
            <option value="{{ data.getId }}">
                {{ data.getName }}
            </option>
            {% endif %}
            {% endfor %}
        </select>
        Anzahl: <input type="text" size="5" name="amount" id="amount" /> 
        Grund: <input type="text" size="20" name="reason" id="reason" />
         <input type="submit" class="button"
            name="B_COMMODITY_CHEAT" value="Ware ercheaten" id="commoditycheatbutton" />
    </div>
</form>
{% endblock %}
