{% extends "html/npcdefaults.twig" %}

{% block body %}
{% include 'html/breadcrumb.twig' %}
<form action="/npc/index.php" method="post" name="toolsform" id="toolsform">
    <div>
        <h2>Waren Tool</h2>
        Schiffs ID: <input type="text" size="5" name="shipid" id="shipid" />
        Kolonie ID: <input type="text" size="5" name="colonyid" id="colonyid" />
        Ware: <select name="commodityid" id="commoditySelect" style="width:10%;">
            <option value="0">----------------------</option>
            {% for data in SELECTABLE_COMMODITIES %}
            {% if COMMODITY_ID == data.getId %}
            <option value="{{ data.getId }}" selected="1">
                {{ data.getName }}
            </option>
            {% else %}
            <option value="{{ data.getId }}">
                {{ data.getName }}
            </option>
            {% endif %}
            {% endfor %}
        </select>
        Anzahl: <input type="text" size="5" name="amount" id="amount" />
        Grund: <input type="text" size="20" name="reason" id="reason" />
        <input type="submit" class="button" name="B_COMMODITY_CHEAT" value="Ware ercheaten" id="commoditycheatbutton" />
    </div>
</form>

<div style="margin-top: 20px;">
    <h2>Schiff Tools</h2>
    <br>
    <form action="/npc/index.php" method="get" style="display: inline;">
        <input type="hidden" name="SHOW_BUILDPLAN_CREATOR" value="1">
        <input type="submit" class="button" value="Bauplan erstellen">
    </form>
    <br>
    <br>
    <form action="/npc/index.php" method="get" style="display: inline;">
        <input type="hidden" name="SHOW_SHIP_CREATOR" value="1">
        <input type="submit" class="button" value="Schiff erstellen">
    </form>
</div>



{% endblock %}