{% extends "html/sitedefaults.twig" %}

{% block body %}
{% include 'html/colony/initialJs.twig' %}
{% include 'html/breadcrumb.twig' %}
<div id="colonymenu">
	{% include SELECTED_COLONY_MENU_TEMPLATE %}
</div>
{% endblock %}
