<div id="lss-mode-container">
    {% set lss = WRAPPER.getLssSystemData %}
    {% for mode in LSS_MODES %}
    {% set active = lss.getMode == mode ? 'active' : '' %}
    <div class="lss-mode-row {{ active }}"
        onclick="selectLssMode({{ mode.value }});">
        {{ mode.getDescription }}
    </div>
    {% endfor %}
</div>
