<table class="tcal">
    {% for mode in CONTACT_LIST_MODES %}
    <tr>
        <td>
            {% if contact.getMode != mode %}
            <div class="cltype{{ mode.value }}" onclick="switchContactMode({{ contact.getId }}, {{ mode.value }});">
                {{ mode.getTitle }}
            </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
