<span id="{{ div }}">
    {% include 'html/user/contactListModeSelector.twig' %}
    <input type="button" class="button" value="+ Kontakt" onclick="addUserContact('{{ div }}',{{ userId }})" />
</span>
