{% if not SHIPS_AVAILABLE %}
<table id="noships" class="tcal">
	<tr>
		<th>Meldung</th>
	</tr>
	<tr>
		<td>Du besitzt derzeit keine Schiffe</td>
	</tr>
</table>
{% else %}
{% for FLEETWRAPPER in FLEET_WRAPPERS %}
{% if loop.first %}
<div id="fleetlist">
{% include 'html/shiplistFleetform.twig' %}
</div>
{% else %}
{% include 'html/shiplistFleetform.twig' %}
{% endif %}
<br />
{% endfor %}

{% if SINGLESHIPWRAPPERS %}
{% include 'html/shiplistSingles.twig' %}
{% else %}
<table class="tcal" id="shiplist_singles_table" style="display: none;"></table>
{% endif %}
{% endif %}


{% if BUOYS %}
<br />
{% include 'html/buoylist.twig' %}
{% endif %}
