{% if not SHIPS_AVAILABLE %}
<table class="tcal">
	<tr>
		<th>Meldung</th>
	</tr>
	<tr>
		<td>Du besitzt derzeit keine Schiffe</td>
	</tr>
</table>
{% else %}
{% for FLEETWRAPPER in FLEET_WRAPPERS %}
{% include 'html/shiplistFleetform.twig' %}
<br />
{% endfor %}

{% if SINGLESHIPWRAPPERS %}
{% include 'html/shiplistSingles.twig' %}
{% else %}
<table class="tcal" id="shiplist_singles_table" style="display: none;"></table>
{% endif %}
{% endif %}
