{% from 'html/shiplistmacros.twig' import shiplist_header, shiplist_body %}
{% if BASES %}
<script src="{{ JAVASCRIPTPATH }}/js/ship.js"></script>
<table class="tcal">
    <tr>
        <td colspan="11">Stationen</td>
    </tr>
    {{ shiplist_header()}}
    {% for wrapper in BASES %}
    {{ shiplist_body(wrapper) }}
    {% endfor %}
</table>
{% else %}
<table class="tcal">
    <tr>
        <th>Meldung</th>
    </tr>
    <tr>
        <td>Du besitzt derzeit keine Stationen</td>
    </tr>
</table>
{% endif %}
