:root {
  --color-6: #dddddd;
  --color-1: #8897cf;
  --color-7: #9d803a;
  --color-59: #1b1b1f;
  --color-8: #7c85a8;
  --color-2: #8897cf;
  --color-9: #909090;
  --color-10: #909090;
  --color-11: #9d803a;
  --color-12: #dddddd;
  --color-42: #9d803a;
  --color-43: #9d803a;
  --color-45: #9d803a;
  --color-13: #262323;
  --color-14: #1b1b1f;
  --color-3: #8897cf;
  --color-4: #8897cf;
  --color-15: #1b1b1f;
  --color-16: #7c85a8;
  --color-46: #8897cf;
  --color-51: #1b1b1f;
  --color-40: #8897cf;
  --color-17: #202020;
  --color-18: #505050;
  --color-34: #1b1b1f;
  --color-35: #8897cf;
  --color-19: #262323;
  --color-20: #9d803a;
  --color-55: #dddddd;
  --color-36: #dddddd;
  --color-37: #161515;
  --color-5: #8897cf;
  --color-21: #404040;
  --color-28: #161515 ! important;
  --color-30: #8897cf;
  --color-22: #4b4b4b;
  --color-23: #9d9d9d;
  --color-52: #9d9d9d;
  --color-31: #2b2b4d;
  --color-56: #dddddd ! important;
  --color-25: #4d0000;
  --color-57: #dddddd ! important;
  --color-58: #dddddd ! important;
  --color-54: #9d9d9d;
  --color-26: #2d0000;
  --color-38: #9d803a;
  --color-27: #dddddd;
  --color-53: #262323;
  --color-41: #9d803a;
  --color-39: #161515;
  --color-33: #161515;
  --color-29: #171616;
  --color-50: #9d803a;
  --color-60: #c7c4c2;
  --color-61: #161515 ! important;
  --color-62: #8897cf;
  --color-63: #2f2f2f;

}