:root {
  --color-1: #243519;
  --color-2: #3f878a;
  --color-3: #00a641;
  --color-4: #3f878a;
  --color-5: #717171;
  --color-6: #fafafa;
  --color-7: #2b5500;
  --color-8: #559532;
  --color-9: #c4c4c4;
  --color-10: #b9b9b9;
  --color-11: #418000;
  --color-12: #dddddd;
  --color-13: #0e4200;
  --color-14: #0b1509;
  --color-15: #003a09;
  --color-16: #47866c;
  --color-17: #154d3d;
  --color-18: #505050;
  --color-19: #346600;
  --color-20: #2b5500;
  --color-21: #283300;
  --color-22: #141414;
  --color-23: #9d9d9d;
  --color-24: #173700;
  --color-25: #61b782;
  --color-26: #4a8862;
  --color-27: #dddddd;
}
