:root {
  --color-6: #000000;
  --color-1: #8897cf;
  --color-7: #2b5500;
  --color-2: #172200;
  --color-9: #c4c4c4;
  --color-10: #b9b9b9;
  --color-11: #418000;
  --color-12: #418000;
  --color-42: #2b5500;
  --color-43: #2b5500;
  --color-45: #2b5500;
  --color-13: #0e4200;
  --color-14: #0b1509;
  --color-3: #0b1509;
  --color-4: #3f878a;
  --color-15: #003a09;
  --color-46: #3f878a;
  --color-51: #003a09;
  --color-40: #000000;
  --color-17: #1e241a;
  --color-34: #173700;
  --color-35: #173700;
  --color-19: #00530d;
  --color-20: #2b5500;
  --color-36: #dddddd;
  --color-37: #051300;
  --color-5: #717171;
  --color-28: #154d3d;
  --color-30: #154d3d;
  --color-23: #d9d9d9;
  --color-24: #173700;
  --color-48: #173700;
  --color-31: #346600;
  --color-25: #61b782;
  --color-32: #173700;
  --color-26: #4a8862;
  --color-38: #1f3e00;
  --color-27: #1f3e00;
  --color-41: #2b5500;
  --color-39: #051300;
  --color-33: #031800;
  --color-29: #031500;
  --color-50: #2b5500;
  
}
