:root {
  --color-6: #000000;
  --color-1: #8897cf;
  --color-7: #9999ff;
  --color-2: #b28452;
  --color-9: #1b1b1f;
  --color-10: #1b1b1f;
  --color-11: #97567b;
  --color-12: #97567b;
  --color-42: #000000;
  --color-43: #000000;
  --color-45: #000000;
  --color-13: #262323;
  --color-14: #c2b74b;
  --color-3: #c2b74b;
  --color-4: #bebcdf;
  --color-15: #bebcdf;
  --color-46: #b28452;
  --color-51: #b28452;
  --color-40: #000000;
  --color-17: #202020;
  --color-34: #b28452;
  --color-35: #b28452;
  --color-19: #cac8ec;
  --color-20: #97567b;
  --color-36: #b46757;
  --color-37: #161515;
  --color-5: #b46757;
  --color-28: #161515;
  --color-30: #161515;
  --color-23: #000000;
  --color-24: #ae697d;
  --color-48: #ff9966;
  --color-31: #ff9966;
  --color-25: #ffcc99;
  --color-32: #ff9966;
  --color-26: #ff9966;
  --color-38: #aa71a1;
  --color-27: #aa71a1;
  --color-41: #161515;
  --color-39: #161515;
  --color-33: #0b0b13;
  --color-29: #171616;
  --color-50: #9999ff;
}
