:root {
  --color-1: #8897cf;
  --color-2: #000000;
  --color-3: #b46757;
  --color-4: #bebcdf;
  --color-5: #b46757;
  --color-6: #b46757;
  --color-7: #ffcf9f;
  --color-8: #71594d;
  --color-9: inherit;
  --color-10: inherit;
  --color-11: #97567b;
  --color-12: #000000 !important;
  --color-13: #262323;
  --color-14: #c2b74b;
  --color-15: #b28452;
  --color-16: #8e8da5;
  --color-17: #202020;
  --color-18: #505050;
  --color-19: #cac8ec;
  --color-20: #97567b;
  --color-21: #404040;
  --color-22: #4b4b4b;
  --color-23: #000000;
  --color-24: #ae697d;
  --color-25: #ffcc99;
  --color-26: #000000;
  --color-27: #000000;
}
