:root {
  --color-6: #b46757;
  --color-1: #8897cf;
  --color-7: #ffbbaa;
  --color-59: #b28452;
  --color-8: #71594d;
  --color-2: #000000;
  --color-9: inherit;
  --color-10: inherit;
  --color-11: #97567b;
  --color-12: #000000 !important;
  --color-42: #fc9;
  --color-43: #000;
  --color-45: #000;
  --color-13: #262323;
  --color-14: #c2b74b;
  --color-3: #000000;
  --color-4: #000000;
  --color-15: #bebcdf;
  --color-16: #a86620;
  --color-46: #000000;
  --color-51: #b28452;
  --color-40: #8897cf;
  --color-17: #202020;
  --color-18: #505050;
  --color-34: #b28452;
  --color-35: #000000;
  --color-19: #cac8ec;
  --color-20: #97567b;
  --color-55: #000000;
  --color-36: #b46757;
  --color-37: #161515;
  --color-5: #b46757;
  --color-21: #404040;
  --color-28: #161515 ! important;
  --color-30: #b46757;
  --color-22: #4b4b4b;
  --color-23: #000000;
  --color-24: #ae697d;
  --color-52: #000000;
  --color-48: #ff7700;
  --color-31: #ff9966;
  --color-56: #000000 ! important;
  --color-25: #ffcc99;
  --color-57: #000000 ! important;
  --color-58: #000000 ! important;
  --color-54: #000000;
  --color-32: #ffbbaa;
  --color-26: #ff9966;
  --color-38: #cc88ff;
  --color-27: #000000;
  --color-53: #262323;
  --color-41: #000;
  --color-39: #161515;
  --color-33: #0b0b13;
  --color-29: #171616;
  --color-50: #666688;
  --color-60: #884104;
  --color-61: rgb(158, 117, 172) ! important;
  --color-62: #ffcca8;
  --color-63: #614d79;

}