:root {
  --color-1: #4f2900; 
  --color-2: #824503;
  --color-3: #a25b00;
  --color-4: #ee794b;
  --color-5: #9d5200;
  --color-6: #a25b00;
  --color-7: #530202;
  --color-8: #4f2900;
  --color-9: #ff8e4b;
  --color-10: #ff995e;
  --color-11: #860101;
  --color-12: #000000;
  --color-13: #1c0000;
  --color-14: #18130e;
  --color-15: #2f0b00;
  --color-16: #682904;
  --color-17: #2d0000;
  --color-18: #551717;
  --color-19: #531401;
  --color-20: #530202;
  --color-21: #6d0000;
  --color-22: #ae5a10;
  --color-23: #d9d9d9;
  --color-24: #220000;
  --color-25: #804800;
  --color-26: #5e3603;
  --color-27: #f06848;
}
