:root {
  --color-6: #a25b00;
  --color-1: #4f2900;
  --color-7: #530202;
  --color-59: #1b1b1f;
  --color-8: #4f2900;
  --color-2: #824503;
  --color-9: #ff8e4b;
  --color-10: #ff995e;
  --color-11: #860101;
  --color-12: #000000;
  --color-42: #530202;
  --color-43: #530202;
  --color-45: #530202;
  --color-13: #1c0000;
  --color-14: #18130e;
  --color-3: #a25b00;
  --color-4: #ee794b;
  --color-15: #2f0b00;
  --color-16: #682904;
  --color-46: #ee794b;
  --color-51: #2f0b00;
  --color-40: #4f2900;
  --color-17: #2d0000;
  --color-18: #551717;
  --color-34: #2f0b00;
  --color-35: #ee794b;
  --color-19: #531401;
  --color-20: #530202;
  --color-55: #dddddd;
  --color-36: #a25b00;
  --color-37: #220000;
  --color-5: #9d5200;
  --color-21: #6d0000;
  --color-28: #300 ! important;
  --color-30: #a24c01;
  --color-22: #ae5a10;
  --color-23: #d9d9d9;
  --color-24: #220000;
  --color-52: #9d9d9d;
  --color-48: #371700;
  --color-31: #532300;
  --color-56: #dddddd ! important;
  --color-25: #804800;
  --color-57: #dddddd ! important;
  --color-58: #dddddd ! important;
  --color-54: #9d9d9d;
  --color-32: #220000;
  --color-26: #5e3603;
  --color-38: #530202;
  --color-27: #f06848;
  --color-53: #370000;
  --color-41: #530202;
  --color-39: #160000;
  --color-33: #150000;
  --color-29: #240000;
  --color-50: #530202;
  
}
