:root {
  --color-6: #000000;
  --color-1: #8897cf;
  --color-7: #1b1b1f;
  --color-2: #1b1b1f;
  --color-9: #909090;
  --color-10: #909090;
  --color-11: #131313;
  --color-12: #131313;
  --color-42: #000000;
  --color-43: #000000;
  --color-45: #000000;
  --color-13: #262323;
  --color-14: #1b1b1f;
  --color-3: #1b1b1f;
  --color-4: #8897cf;
  --color-15: #1b1b1f;
  --color-46: #8897cf;
  --color-51: #1b1b1f;
  --color-40: #000000;
  --color-17: #202020;
  --color-34: #1b1b1f;
  --color-35: #1b1b1f;
  --color-19: #262323;
  --color-20: #0f0f0f;
  --color-36: #dddddd;
  --color-37: #161515;
  --color-5: #8897cf;
  --color-28: #161515;
  --color-30: #161515;
  --color-23: #9d9d9d;
  --color-24: #161616;
  --color-48: #161616;
  --color-31: #161616;
  --color-25: #4d0000;
  --color-32: #2d0000;
  --color-26: #2d0000;
  --color-38: #151515;
  --color-27: #151515;
  --color-41: #161515;
  --color-39: #161515;
  --color-33: #171616;
  --color-29: #171616;
  --color-50: #000000;
}
