:root {
  --color-1: #8897cf;
  --color-2: #8897cf;
  --color-3: #8897cf;
  --color-4: #8897cf;
  --color-5: #8897cf;
  --color-6: #dddddd;
  --color-7: #000000;
  --color-8: #7c85a8;
  --color-9: #909090;
  --color-10: #909090;
  --color-11: #131313;
  --color-12: #dddddd;
  --color-13: #262323;
  --color-14: #1b1b1f;
  --color-15: #1b1b1f;
  --color-16: #7c85a8;
  --color-17: #202020;
  --color-18: #505050;
  --color-19: #262323;
  --color-20: #0f0f0f;
  --color-21: #404040;
  --color-22: #4b4b4b;
  --color-23: #9d9d9d;
  --color-24: #000000;
  --color-25: #4d0000;
  --color-26: #2d0000;
  --color-27: #2d0000;
}
