<div class="box">
    <div class="box_title">{{ EPS_BAR_TITLE_STRING }}</div>
    <div class="box_body">
        <img src="/assets/buttons/e_trans2.png" title="Energie" style="width: 12px; height: 12px;" />
        {% autoescape false %}
        {{ EPS_STATUS_BAR }}
        {% endautoescape %}
        {{ EPS_PRODUCTION|addPlusCharacter }}
    </div>
</div>
