<div class="box">
    <div class="box_title">{{ COLONY_SURFACE.getEpsBoxTitleString }}</div>
    <div class="box_body">
        <img src="/assets/buttons/e_trans2.png" title="Energie" style="width: 12px; height: 12px;" />
        {% autoescape false %}
        {{ EPS_STATUS_BAR }}
        {% endautoescape %}
        {{ COLONY_SURFACE.getEnergyProduction|addPlusCharacter }}
    </div>
</div>
