<div class="starmapSectionControls">
    <label><input type="checkbox" data-starmap-filter="territory" checked="checked" /> Territorialansicht</label>
    <label><input type="checkbox" data-starmap-filter="impassable" /> Unpassierbar markieren</label>
    <label><input type="checkbox" data-starmap-filter="effects" /> Effekte markieren</label>
</div>
<div class="starmapSectionTooltip" data-starmap-tooltip></div>
