{# needs following variables: HEAD_ROW, MAP_FIELDS ) #}

<div id="elt">
    <div style="float: left">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    {% include TABLE_MACRO %}
                </td>
            </tr>
        </table>
    </div>
    <div style="margin-left: 10px; width: 100px; float: left">
        <table class="tcal">
            <tr>
                <td style="text-align: center" colspan="3">
                    <a id="navup" href="javascript:void(0)" onclick="refreshMapSection(4);"
                        style="display: block;">/\</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a id="navleft" href="javascript:void(0)" onclick="refreshMapSection(1);"
                        style="display: block;">&lt;</a>
                </td>
                <td id="sectionid" style="text-align: center;">runtime</td>
                <td style="text-align: right;">
                    <a id="navright" href="javascript:void(0)" onclick="refreshMapSection(3);"
                        style="display: block;">&gt;</a>
                </td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="3">
                    <a id="navdown" href="javascript:void(0)" onclick="refreshMapSection(2);"
                        style="display: block;">\/</a>
                </td>
            </tr>
        </table>
    </div>
</div>
