{% extends "html/index/indexDefaults.twig" %}

{% block body %}
</div>
<div class="mainbar_box_header mt-4">
  <small>Account gesperrt - Star Trek Universe</small>
</div>
<div class="mainbar_box_content">
  <div class="p-3">
  {{ REASON }}
  </div>
{% endblock %}
