{% extends "html/index/indexDefaults.twig" %}

{% block body %}
</div>
<div class="mainbar_box_header mt-4">
  <small>Game Reset - Star Trek Universe</small>
</div>
<div class="mainbar_box_content">
  <div class="p-3">
  			Im Moment findet der Spielreset statt:<br /><br />
			<ul style="list-style-type: none;">
				<li>- Die Admins bereiten das Spiel auf den Anfang einer neuen Runde vor.</li>
				<li>- Die Arbeiten sollten maximal 24 Stunden dauern.</li>
				<li>- Danach kann man sich erneut registrieren und der neuen Runde Leben einhauchen!</li>
			</ul>
</div>
{% endblock %}
