{% extends "html/index/indexDefaults.twig" %}

{% block body %}
<div style="width: 100%;">
	Du brauchst Hilfe? Keine Panik.
	<br /><br />
	Es gibt verschiedene Wege, Hilfe zu einem spezifischen Problem zu bekommen. Erster Anlaufpunkt für Fragen
	und
	Informationen ist in jedem Fall das <a href="{{ FORUM }}" target="_blank"
		style="text-decoration: underline;">Forum</a>
	und die
	<a href="{{ WIKI }}" target="_blank" style="text-decoration: underline;">Wiki</a> (im
	Aufbau), sowie auch der <a href="{{ CHAT }}" target="_blank"
		style="text-decoration: underline;">Discord-Chat</a>.<br />
	Dort gibt es neben Einsteigerinfos und Datenbanken auch nützliche Tipps rund um den Alltag als Siedler.
</div>
{% endblock %}
