{% extends "html/index/indexDefaults.twig" %}

{% block body %}
{% include 'html/systeminformation.twig' %}
<form action="/index.php" method="post" onsubmit="checkSubmit(); return false;" id="registerform">
	<div>
		Mittels Deiner eMail-Adresse, die Du bei der Registrierung angegeben hast, kannst Du Dir ein neues
		Password
		setzen.
	</div>
	<br />
	<div>
		<span>eMail-Adresse</span>
		<input type="text" size="40" name="emailaddress" />
		<input type="submit" style="cursor: pointer;" name="B_SEND_PASSWORD" value="Absenden" />
	</div>
</form>
{% endblock %}
