{% extends "html/index/indexDefaults.twig" %}

{% block body %}
</div>
<div class="mainbar_box_header mt-4">
	<small>Passwort vergessen - Star Trek Universe</small>
</div>
<div class="mainbar_box_content">
	<div class="p-3">

		<form action="/index.php" method="post" onsubmit="checkSubmit(); return false;" id="registerform">
			<div class="p-3 text-center justify-content-center">
				{% if INFORMATION %}
				{% include 'html/index/systeminformation.twig' %}
				{% endif %}
				Mittels Deiner eMail-Adresse, die Du bei der Registrierung angegeben hast, kannst Du Dir ein neues
				Password
				setzen.
				<br /><br />
				<input type="text" class="form-control newpasswort mx-auto" name="emailaddress"
					placeholder="Hier eMail-Adresse eingeben." />
				<input type="submit" class="btn-stu mt-3" name="B_SEND_PASSWORD" value="Absenden" />
			</div>
		</form>
	</div>
	{% endblock %}