{% extends "html/index/indexDefaults.twig" %}

{% block body %}
</div>
<div class="mainbar_box_header mt-4">
  <small>Wartungsmodus - Star Trek Universe</small>
</div>
<div class="mainbar_box_content">
  <div class="p-3">
   Im Moment ist der Wartungsmodus aktiv. Dies kann folgende Gründe haben:<br /><br />
			<ul style="list-style-type: none;">
				<li>- Der nächtliche Wartungsmodus wurde ausgelöst. Dieser dauert etwa 5 Minuten</li>
				<li>- Das Spiel wurde von den Admins in den Wartungsmodus gestellt. In diesem Fall ist eure erste
					Anlaufstelle das Forum oder der Chat.</li>
			</ul>
</div>
{% endblock %}
