{% extends "html/index/indexDefaults.twig" %}

{% block body %}
</div>
<div class="mainbar_box_header mt-4"><small>Star Trek Universe - Registrierung komplett</small></div>
                <div class="mainbar_box_content"><div class="p-3 text-center">
		✔️ Die Registrierung wurde abgeschlossen.<br />
	In Kürze erhälst Du eine E-Mail mit deinem Passwort. Bitte sieh auch in Deinem Spamordner nach falls Du die Mail im
	Postfach nicht finden solltest.
	</div>
{% endblock %}
