{% extends "html/index/indexDefaults.twig" %}

{% block body %}
<div class="divbody">Die Registrierung wurde abgeschlossen.<br /><br />
	In Kürze erhälst Du eine E-Mail mit deinem Passwort. Bitte sieh auch in Deinem Spamordner nach falls Du die Mail im
	Postfach nicht finden solltest.</div>
{% endblock %}
