{% extends "html/index/indexDefaults.twig" %}

{% block body %}
<table class="use" style="width: 600px">
	<tr>
		<td>Das Spiel ist auf einen anderen Server umgezogen:<br /><br />
			<ul style="list-style-type: none;">
				<li>- Die neue URL lautet https://stuniverse.de</li>
				<li>- Wenn du in 5 Sekunden nicht weitergeleitet wurdest, <a href="https://stuniverse.de">CLICK
						HERE</a></li>
			</ul>
		</td>
	</tr>
</table>
{% endblock %}
