{% extends "html/index/indexDefaults.twig" %}

{% block body %}
</div>
<div class="mainbar_box_header mt-4">
	<small>Umzug - Star Trek Universe</small>
</div>
<div class="mainbar_box_content">
	<div class="p-3">
		Das Spiel ist auf einen anderen Server umgezogen:<br /><br />
		<ul style="list-style-type: none;">
			<li>- Die neue URL lautet https://stuniverse.de</li>
			<li>- Wenn du in 5 Sekunden nicht weitergeleitet wurdest, <a href="https://stuniverse.de">CLICK
					HERE</a></li>
		</ul>
	</div>
	{% endblock %}