{% extends "html/index/indexDefaults.twig" %}

{% block body %}
{% include 'html/systeminformation.twig' %}
<form action="/index.php" method="post" onsubmit="checkSubmit(); return false;" id="registerform">
	<input type="hidden" name="TOKEN" value="{{ TOKEN }}" />
	<div>Klicke auf die Schaltfläche um Dir ein neues Password zusenden zu lassen.</div>
	<br />
	<div>
		<input type="submit" style="cursor: pointer;" id="B_RESET_PASSWORD" name="B_RESET_PASSWORD"
			value="Neues Passwort zusenden" />
	</div>
</form>
{% endblock %}
