{% extends "html/index/indexDefaults.twig" %}

{% block body %}
{% if INFORMATION %}
{% include 'html/systeminformation.twig' %}
{% endif %}
</div>
<div class="mainbar_box_header mt-4">
  <small>Passwort vergessen - Star Trek Universe</small>
</div>
<div class="mainbar_box_content">
  <div class="p-3">
<form action="/index.php" method="post" onsubmit="checkSubmit(); return false;" id="registerform">
<div class="p-3 text-center">
	<input type="hidden" name="TOKEN" value="{{ TOKEN }}" />
	Klicke auf die Schaltfläche um Dir ein neues Password zusenden zu lassen.
	<br />
<input type="submit" class="btn-stu mt-3"  id="B_RESET_PASSWORD" name="B_RESET_PASSWORD" value="Neues Passwort zusenden" />
	</div>
</form></div>
{% endblock %}
