{% extends "html/index/indexDefaults.twig" %}

{% block body %}
</div>
<div class="mainbar_box_header mt-4">
  <small>Status Freischaltung - Star Trek Universe</small>
</div>
<div class="mainbar_box_content">
  <div class="p-3">
<form method="post" action="maindesk.php">
<div class="p-3 text-center">
	<input type="hidden" name="sstr" value="{{ SESSIONSTRING }}" />
	
			{% if REASON %}
				{{ REASON }}
			{% else %}
				Account wurde noch nicht freigeschaltet
			{% endif %}
		<br /><br />
			SMS-Verifikation Code:
		<input type="text" class="form-control smsverification mx-auto" name="smscode" placeholder="XxXxX" />
		<input type="submit" class="btn-stu mt-3" name="B_SMS_VERIFICATION" value="Account verifizieren" class="button" />
		
</div>	
</form></div>
{% endblock %}
