<div style="{{ SURFACETILESTYLE }}">
    {% for field in SURFACE %}
    <div style="margin: 1px; width: 42px; height: 42px;" class="{{ CSSCLASS }}">
        <div
            style="background-image: url(assets/generated/fields/t{{ field.type_id }}.png); width: 40px; height: 40px;">
            <div>
                {% set buildingId = field.buildings_id|default(field.id|default(null)) %}
                {% if buildingId %}
                <img style="width: 40px; height: 40px;"
                    src="assets/generated/buildings/{{ buildingId }}/0at.png" />
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
