{% if systemWrapper.isHealthy %}
<tr>
    <td title="Bussard-Kollektor Einstellungen" colspan="2">
        <a href="javascript:void(0);" onclick="showBussardCollectorWindow();"
            onmouseover="cp('bussardcollecotr','buttons/bussard_2')"
            onmouseout="cp('bussardcollector','buttons/bussard_1')">
            <img style="width: 20px;" src="/assets/buttons/bussard_1.png" name="bussardcollector" />
            Bussard-Kollektor Einstellungen
        </a>
    </td>
</tr>
{% endif %}
