{% if SPACECRAFT.isAlertGreen %}
<tr>
    <td colspan="2">
        <img src="/assets/buttons/act_phaser2.png" name="actphaser" />
        bei Alarmstufe deaktiviert
    </td>
</tr>
{% else %}
{% include 'html/spacecraft/system/systemWithOnOff.twig' %}
{% endif %}
