{% set SPACECRAFT = WRAPPER.get %}
{% set spacecraftId = SPACECRAFT.getId %}
{% set name = 'SUBSPACE_SCANNER' %}

{% include 'html/spacecraft/system/systemWithOnOff.twig' %}
{% if systemWrapper.isActivated %}
<span>TADAAAA</span>
{% endif %}
