<tr>
    <td colspan="3">
        {% set icon = systemWrapper.getIcon %}
        {% set description = systemWrapper.getDescription %}
        {% include 'html/spacecraft/system/onOffToggle.twig' %}
    </td>
</tr>
