<td>
    {% set torpedo = SPACECRAFT.getTorpedo %}
    {% set torpedoCount = SPACECRAFT.getTorpedoCount %}
    {% if torpedo %}
    <img src="/assets/commodities/{{ torpedo.getCommodityId }}.png" />
    {{ torpedo.getName }}: {{ torpedoCount }}
    {% else %}
    <img src="/assets/buttons/torp.png" /> Torpedos: {{ torpedoCount }}
    {% endif %}
</td>
