<img src="assets/buttons/wkp2.png" title="{{ module.getDescription }}" />
<span>Reaktorleistung</span>: {{ moduleSelectorEntry.getValue }} 
</br>
<img src="assets/buttons/modul_screen_5.png" title="{{ module.getDescription }}" />
<span>Reaktorkapazität</span>: {{ moduleSelectorEntry.getSecondValue }}
