<img src="assets/buttons/modul_screen_3.png" title="{{ module.getDescription }}" />
<span>Energiespeicher</span>: {{ moduleSelectorEntry.getValue }}
</br>
<img src="assets/buttons/batt.png" style="width: 16px" title="Ersatzbatterie" />
<span>Ersatzbatterie</span>: {{ moduleSelectorEntry.getSecondValue }}
