name: Unittests

on:
  push:
    branches: [ dev, master ]
  pull_request:
    branches: [ dev, master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        php: [8.3]
    steps:
      - uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: redis

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v4
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Set env
        run: echo "PHP_CS_FIXER_IGNORE_ENV=1" >> $GITHUB_ENV
        
      - name: Install Dependencies (ignore platform)
        uses: nick-invision/retry@v3
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: composer install --no-interaction --no-progress --ignore-platform-req=php

      - name: Run "STU unit" test suite
        run: composer run-script qaStage1

      - name: Run "STU integration" test suite
        run: composer run-script qaStage2
